* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
}

body {
    background-color: #E5E5E5;
}

.container {
    background-color: #F4F4F4;
    width: 375px;
    margin: 0 auto;
    margin-top: 100px;
    height: 766px;
}

header {
    background-color: #1B83E2;
    height: 66px;
    text-align: center;
    padding-top: 24px;
}

h1 {
    font-size: 24px;
    align-items: center;
    color: #F4F4F4;
}

main {
    padding: 24px;
}

label {
    font-size: 14px;
    color: #777777;
}

select {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    margin-top: 6px;
    margin-bottom: 24px;
}

input {
    background: #FFFFFF;
    display: block;
    width: 100%;
    height: 48px;
    outline: none;
    appearance: none;
    border: 1px solid #BBBBBB;
    padding-left: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

button {
    border-radius: 25px;
    background: #1B83E2;
    height: 48px;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin-top: 24px;
    margin-bottom: 36px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

section {
    width: 327px;
    height: 276px;
    border: 1px solid #1B83E2;
    border-radius: 4px;
}

.currency-container {
    text-align: center;
    padding: 10px;
}

.currency-container h2 {
    font-size: 14px;
    align-items: center;
    color: #777777;
}

.currency-container p {
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    color: #1B83E2;
    margin-top: 2px;
}

.arrow-img {
    margin: 0 auto;
    display: block;
    margin-top: 15px auto;
}